.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #00c9ff, #92fe9d);
  background-size: 400% 400%;
  animation: aurora 60s ease-in-out infinite;
  overflow: hidden;
}
/* 
using keyframes to animate the middle orange layer as a gradient from light - dark and back. 
after some trial and error the colors on the edges stay the same, and the middle goes from 
#ffaf38 to #ffd392 and back down

*/
@keyframes aurora {
  0% {
    background-position: 0% 50%;
    background: linear-gradient(120deg, #00c9ff, #ffaf38, #fc00ff);
  }
  10% {
    background-position: 0% 50%;
    background: linear-gradient(120deg, #00c9ff, #fdb447, #fc00ff);
  }
  20% {
    background-position: 0% 50%;
    background: linear-gradient(120deg, #00c9ff, #ffba53, #fc00ff);
  }
  30% {
    background-position: 0% 50%;
    background: linear-gradient(120deg, #00c9ff, #fec062, #fc00ff);
  }
  40% {
    background-position: 0% 50%;
    background: linear-gradient(120deg, #00c9ff, #ffca7b, #fc00ff);
  }
  50% {
    background-position: 0% 50%;
     background: linear-gradient(120deg, #00c9ff, #ffd392, #fc00ff);
  }
  60% {
    background-position: 0% 50%;
    background: linear-gradient(120deg, #00c9ff, #ffca7b, #fc00ff);
  }
  70% {
    background-position: 0% 50%;
    background: linear-gradient(120deg, #00c9ff, #fec062, #fc00ff);
  }
  80% {
    background-position: 0% 50%;
    background: linear-gradient(120deg, #00c9ff, #ffba53, #fc00ff);
  }
  90% {
    background-position: 0% 50%;
     background: linear-gradient(120deg, #00c9ff, #fdb447, #fc00ff);
  }
  100% {
    background-position: 0% 50%;
    background: linear-gradient(120deg, #00c9ff, #ffaf38, #fc00ff);
  }
}
